{% extends 'tienda/base.html'%}
{% load tags %}
{%block title%}Filtrar por marca{%endblock %}
{%block other_content %}Productos por marca{% endblock %} 
{%block content%} 

<form
action="{% url 'productos_marca'%}"
method="GET"
enctype="multipart/form-data"
>
{% csrf_token %}
<div class="form-group">
  <label for="marcas">Marca</label>
  
  <select class="form-select" id="marca" name="marca" value="{{marca}}">
    {% get_marca as marcas %}
    {% for marca in marcas %}
    <option value="{{marca}}">{{marca}}</option>
    {% endfor %}
  </select>
<button class="mt-3 btn btn-primary" type="submit">Buscar</button>
</form>


  <table class="table my-5">
    <th scope="col">Nombre</th>
    <th scope="col">Marca</th>
    <th scope="col">Modelo</th>
    <th scope="col">Unidades </th>
    <th scope="col">Precio</th>
    {%for producto in producto_list %}
    <tr>
      <td>{{producto.nombre}}</td>
      <td>{{producto.marca}}</td>
      <td>{{producto.modelo}}</td>
      <td>{{producto.unidades}}</td>
      <td>{{producto.precio}}</td>
    </tr>
    {% endfor %} 
  </table>
</div>

{%endblock%}