{% extends 'clases/base.html'%}{% load static %}{%block title%}Eliminar
clase{%endblock %} {%block body%}

<h1 class="text-center">Eliminar clase</h1>
<form method="post">
  {% csrf_token %}
  <p>¿Estas seguro de que quieres eliminar la clase?</p>
  {{ form.as_p }}
  <input type="submit" value="Confirmar Eliminación" class="btn btn-danger" />
  <a href="{% url 'listar_clases' %}" class="btn btn-primary">Cancelar</a>
</form>
{%if messages%} {%for message in messages%}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {%endfor%} {%endif%}
{%endblock %}