{% extends "clases/base.html" %}{% load static %}{%block title%}Eliminar
reserva reserva{%endblock %} {%block body%}

  <h1>Eliminar reserva</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      ¿Estas seguro de que quieres eliminar la reserva de <b>{{reserva.usuario}}</b> con fecha <b>{{reserva.clase.fecha_clase}}</b> de la clase
      <b>{{reserva.clase.tipo_clase.nombre}}?</b>
    </p>
    {{ form.as_p }}
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    <a href="{% url 'listar_reservas' %}" class="btn btn-primary">Cancelar</a>
  </form>
  {%if messages%} {%for message in messages%}
  <div class="alert alert-{{message.tags}}">{{message}}</div>
  {%endfor%} {%endif%}

{%endblock %}