{% extends 'clases/base.html'%}{%block title%}Lista Reservas {%endblock %}
{%block body%}

<form class="form-inline my-2 my-lg-0" method="get" role="search">
  {{form_filtros.as_p}}
  <button class="btn btn-success my-2 my-sm-0" type="submit">
    Buscar
  </button>
</form>

<h1 class="text-center">Listado reservas clientes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Clase</th>
      <th>Usuario</th>
      <th>Tramo</th>
      <th>Instructor</th>
      <th>Cupos disponibles</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {%for reserva in reserva_list %}
    <tr>
      <td>{{reserva.clase.tipo_clase.nombre}}</td>
      <td>{{reserva.usuario}}</td>
      <td>{{reserva.clase.tramo}}</td>
      <td>{{reserva.clase.instructor}}</td>
      <td>{{reserva.clase.cupos_disponibles}}</td>
      <td>{{reserva.estado}}</td>
      <td>{{reserva.clase.fecha_clase}}</td>
      <td>
        <a class="btn btn-outline-success my-2 my-sm-0" href="{%url 'detalle_reserva' reserva.pk %}">Detalle Reserva</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%for reserva in reservas_encontradas %}
<div class="row shadow-lg py-5 my-5 mb-3 rounded bg-white">
  <div class="col-12">
    <h1>Clase{{reserva.clase.tipo_clase.nombre}}</h1>
    <p>{{reserva.clase.instructor}}</p>
    <p>{{reserva.fecha_reserva}}</p>
    <a href="">Cancelar Reserva</a>
    {%if request.user.is_staff and request.is_superuser%}
    <a class="btn btn-warning" href="{% url 'editar_reserva' reserva.pk %}">
      Editar Reserva
    </a>
    <a class="btn btn-danger" href="{% url 'eliminar_clase' reserva.pk %}">
      Eliminar Reserva
    </a>
    {%endif%}
  </div>
</div>
{%if messages%} {%for message in messages%}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {%endfor%} {%endif%}
{% endfor %} 
<!-- Pagination -->
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      
      <a href="{% url 'listar_clases'%}?page={{ page_obj.previous_page_number }}">Página anterior</a>
    {% endif %}

    <span class="current-page">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}
      <a href="{% url 'listar_clases'%}?page={{ page_obj.next_page_number }}" class="text-black">Siguiente</a>
      <a href="{% url 'listar_clases'%}?page={{ page_obj.paginator.num_pages }}"class="text-black">Ultima &raquo;</a>
    {% endif %}
  </span>
</div>
{%endblock%}