{% extends 'clases/base.html'%} {% load static %}{%block title%}Registro de usuario{%endblock %} {%block body%}


<h1 class="text-center">Nuevo usuario</h1>
<form
  action="{% url 'registro'%}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %} 
  {{ form.as_p }}
  <button type="submit" class="btn btn-success" value="Registrarse">
    <i class="bi bi-save"> </i>Registrarse
  </button>
  <a href="{% url 'core_welcome' %}" class="btn btn-danger">
    <i class="bi bi-arrow-left"> </i>Cancelar
</form>
{%if messages%} {%for message in messages%}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {%endfor%} {%endif%}


{%endblock %}